appName=

# CMS server information
remoteUrl=
intranetUrl=
accessToken=
dataSyncUrl=
dataHashUrl=
filesSyncUrl=
filesHashUrl=

# If 'true', files will be stored in external storage, visible to the user.
# If not 'true', files will be stored in app's internal storage, hidden to the user.
debugStorageMode=

# Path to the sqlite database file
databasePath=

# Path to which the zipped resource file will be extracted
resourcesPath=
