<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.co.deepcove.discover_deep_cove">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
</manifest>
